In [1]:
import pandas as pd

In [2]:
train0=pd.read_csv('train.txt',header=None,sep='=', names=['x','y'])
train0

                         x                   y
0         (7-3*z)*(-5*z-9)      15*z**2-8*z-63
1                  -9*s**2             -9*s**2
2            (2-2*n)*(n-1)       -2*n**2+4*n-2
3                     x**2                x**2
4             (4-x)*(x-23)       -x**2+27*x-92
...                    ...                 ...
999995   (2*k+14)*(7*k-10)    14*k**2+78*k-140
999996      (t-7)*(3*t+28)      3*t**2+7*t-196
999997   (10-2*i)*(6*i-10)   -12*i**2+80*i-100
999998  (-5*k-31)*(8*k+12)  -40*k**2-308*k-372
999999   (-8*i-13)*(3*i+4)    -24*i**2-71*i-52

[1000000 rows x 2 columns]

In [3]:
train_size = int(0.7 * len(train0))
val_size = int(0.8 * len(train0))
shuffle_df = train0.sample(frac=1)

# Split your dataset 
train_df = shuffle_df[:train_size]
val_df = shuffle_df[train_size:val_size]
test_df = shuffle_df[val_size:]

In [4]:
[train_df.shape,val_df.shape,test_df.shape]

[(700000, 2), (100000, 2), (200000, 2)]

In [5]:
train_df.to_csv('train_df3.csv',index=False)
val_df.to_csv('val_df3.csv',index=False)
test_df.to_csv('test_df3.csv',index=False)